/log
/temp
/bin/platform/**
/bin/modules/**
/roles
/data/**
/config/**
!/config/local.properties
!/config/localextensions.xml
/bin/custom/**/web/webroot/WEB-INF/config/
/bin/custom/**/web/webroot/WEB-INF/lib/
/bin/custom/**/gensrc/**
!/bin/custom/**/testsrc/**
!/bin/custom/**/web/webroot/WEB-INF/_ui-src/responsive/themes/
!/bin/custom/**/web/webroot/_ui/responsive/

**/.externalToolBuilders
**/.idea

**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
**/.settings/**
*.iml
**/*testclasses.xml
*.eml
**/*.iml
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
.classpath

**/rebel.xml


.lastupdate
*platformhome.properties


build/config/developer.properties
