@charset "utf-8";
$questionsBackoffice-container-background: var(--bo-base-background);
$questionsBackoffice-container-font-family: var(--bo-font-family);
$questionsBackoffice-container-font-size: $font-size__base;
$questionsBackoffice-label-text-color: var(--bo-text-color);
