.product__listing--price{
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__listing--question-icon{
    width: 16px;
    height: 16px;
    margin-left: 6px;
    vertical-align: middle;
    opacity: 0.7;
}

.product__listing--question-count{
    font-weight: bold;
    color: black;
    font-size: 14px;
}
