@charset "utf-8";
@import "./support/questionsBackofficewidget-variables.scss";

.yw-labelstyle
{
	color: $questionsBackoffice-label-text-color;
}

.questionsBackoffice-container {
	background: $questionsBackoffice-container-background;
	font-family: $questionsBackoffice-container-font-family;
	font-size: $questionsBackoffice-container-font-size;
}
